.venue-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 3rem;
  column-gap: 2rem;
  width: 100%;
  margin: -1rem auto 0 0.4rem;
  margin-bottom: 3rem;
}

.venue-card {
  background: #fff;
  border: 4px solid #fff176;
  border-radius: 10px;
  padding: 16px;
  width: 100%;
  max-width: 26rem;
  height: 95%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.04);
}

.venue-details {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.venue-info {
  display: flex;
  flex-direction: column;
  font-size: 15px;
  gap: 8px;
}

.venue-actions {
  display: flex;
  text-align: center;
  gap: 1rem;
}

.venue-actions button {
  flex: 1;
  padding: 8px;
  font-size: 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.venue-actions .submit-client {
  background-color: #4caf50;
  color: white;
}

.status-badge {
  background: #fff176;
  padding: 2px 6px;
  border-radius: 4px;
  font-size: 11px;
  display: inline-block;
}

.edit-2d-btn {
  background: #fff176;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  font-weight: bold;
  font-family: 'Lora', serif;
  cursor: pointer;
  font-size: 12px;
  transition: all 0.2s;
}

.status-badge.approved {
  background-color: #d9f7be;
  border: 1px solid #95de64;
  color: #389e0d;
}

.status-badge.submitted {
  background-color: #d0d0d0;
  border: 1px solid #8d8d8d;
  color: #000000;
}

.field-label{
    font-weight: bold;
}

@media (max-width: 768px) {
  .venue-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 2.5;
  }

  .venue-card {
    max-width: 87%;
  }
}

@media (max-width: 480px) {
  .venue-grid {
    grid-template-columns: 1fr;
    gap: 2.5rem;
  }

  .venue-card {
    width: 87%;
  }
}